#
# Configuration File for the Calibration Program
# Hamburg, 2007/08/15
#

#---------------------------------------------------------------------------------
#   Fit
#---------------------------------------------------------------------------------
#Fit method: LVMini=1, use existing calibration=2, write start values=3
Fit method = 1
Number of Threads = 4
Flatten Spectra = 0   #Does not work with top events

#Parametrization
Parametrization Class = TStepParameters
#Parametrization Class = TStepEfracParameters
#Parametrization Class = TStepParametersEnergy
#Parametrization Class = TJetMETParameters
#Parametrization Class = ToyParametrization
#Parametrization Class = ToyStepParametrization
#Parametrization Class = ToyStepJetParametrization
#Parametrization Class = StepJetParametrization
#Parametrization Class = TTrackParameters

#Error Parametrization (track errors not configurable)
tower error parametrization = standard #("standard", "fast", "Jans E parametrization","jet"(should be used for jet parametrizations))
jet error parametrization   = standard #("standard", "fast", "dummy","jet et","jet energy")

#start values for tower
start values = 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
#tower parameter constraints (par_id min max error)
#Tower Parameter Limits = 0 0 3 0.5

#start values jets
#jet start values = 1.0 1.0 1. 1. 1. 1. 1. 1. 1. 1.   1.0 1.0 1. 1. 1. 1. 1. 1. 1. 1.    1.0 1.0 1. 1. 1. 1. 1. 1. 1. 1.    1.0 1.0 1. 1. 1. 1. 1. 1. 1. 1.    1.0 1.0 1. 1. 1. 1. 1. 1. 1. 1.    1.0 1.0 1. 1. 1. 1. 1. 1. 1. 1.    1.0 1.0 1. 1. 1.
# 4.0 1.0 1.0
#jet start values = 0.0147  90.30        # JES
jet start values = 1. 1. 1.
#jet parameter constraints (par_id min max error)
#Jet Parameter Limits = 2 1.0 1.0 0.1

#start values track
track start values = 1. 1. 1.

#Tower Constraint = -41 41 50. 0 10000  -12 12 50. 0 10000 # min_Eta max_Eta E_had E_em weight + (same parameters for further constraints)


# From file: (if defined, than this is used instead of the start values above)
# Note: only useful, if same parametrization/binning/etc is used!
#input calibration = CalibMaker.cfi
Output file       = CalibMaker

# Scaling of residuals: 0 - none, 1 - with Cauchy-Function, 2 - with Huber-Function
Residual Scaling Scheme    = 0 # 221 : default
Outlier Cut on Chi2        = 100.0 # Applied before each iteration with no scaling


#---------------------------------------------------------------------------------
#   Geometry / Binning for fitting
#---------------------------------------------------------------------------------
maximum eta twr used  = 82
granularity in eta    = 1   # allowed values are: 1,3,5,11,21,41 (*2)
granularity in phi    = 1   # allowed values are: 1,2,3,6,9,18,36,72
symmetry in eta       = true

jet granularity in eta   = 5 #  allowed values are: 1,3,5,11,21,41 (*2)
jet granularity in phi   = 1 #   1 : default
track granularity in eta = 1 #  allowed values are: 1,3,5,11,21,41 (*2)
track granularity in phi = 1 #   1 : default

#---------------------------------------------------------------------------------
#   Analyses (GammaJet, TrackTower, ... )
#---------------------------------------------------------------------------------
Et cut on jet           = 0.0
Et cut on gamma         = 20.0
Et cut on Z             = 0.0
Et cut on tower         = 0.0
Et cut on cluster       = 0.0
Et cut on track         = 0.0
Et cut on n+1 Jet       = 15.0
Relative n+1 Jet Et Cut = 0.1
Relative Rest Jet Cut   = 0.2      #NonLeadingJetsEt / PhotonEt

#---------------------------------------------------------------------------------
#   Top specific constraints
#---------------------------------------------------------------------------------
use W mass constraint   = true
use Top mass constraint = false
W mass                  = 80.4
Top mass                = 172.9

#---------------------------------------------------------------------------------
#   Input / Output
#---------------------------------------------------------------------------------
#Default name of the Calibration tree
Default Tree Name      = CalibTree

# List of input files:
Gamma-Jet tree         = GammaJetTree
Z-Jet tree             = ZJetTree
Track-Tower tree       = TrackTowerTree
Track-Cluster tree     = TrackClusterTree
Di-Jet tree            = DiJetTree
Tri-Jet tree           = TriJetTree
Top tree               = TopTree

#Gamma-Jet input file     = input/toymc_gammajet.root
Top input file = input/Top_Calib.root


# -1: use all events, 1000: run over 1000 events
use Gamma-Jet events     = 0
use Track-Tower events   = 0
use Track-Cluster events = 0
use Di-Jet events        = 0
use Tri-Jet events       = 0
use Z-Jet events         = 0
use Top events           = -1

#Relative sample weights. Weights of samples are made the same before applying
#these weights, regardless of the amount of events in each sample.
#default = 1,do not use 0.
Gamma-Jet weight     = 1
Track-Tower weight   = 1
Track-Cluster weight = 1
Di-Jet weight        = 1
Multi-Jet weight     = 1
Z-Jet weight         = 1   #Not a Type yet 
Top weight           = 1

use Tracks   = false

#-----------------------------------------------------------------
#  Control plots
#-----------------------------------------------------------------
create plots                 = true
plot output format           = 0  # 0: .ps and .root, 1: only .ps
#-----------------------------------------------------------------
#  Gamma jet plots
#  with plotted quantities: eta, uncorrected jet pt,
#  uncorrected jet energy, true jet pt, log true jet pt, emf
create gamma jet plots       = false
gamma jet plotted quantities = eta; uncorrected jet pt
create more gamma jet plots  = false
#-----------------------------------------------------------------
#  Dijet plots
create dijet plots           = false
#-----------------------------------------------------------------
#  Top plots
create top plots             = true
#-----------------------------------------------------------------
#  Tower plots
create tower plots           = false
#-----------------------------------------------------------------
#  Parameter scan plots
create parameter scan plots  = false
