#
# Configuration File for the ToyMC Program
# Hamburg, 2008/08/14
#

ToyMC min eta = -1.2
ToyMC max eta =  1.2
ToyMC min pt  =  5;
ToyMC max pt  =  400;

  #PtSpectrum:
  #  - uniform: flat in pt between minPt and maxPt
  #  - powerlaw: falling pt spectrum from minPt with p_T^{-2.5}
ToyMC pt spectrum      = uniform
ToyMC max pi0 fraction = 0.
ToyMC tower max EMF    = 0.

  #Simulated response: R(Et_true) = Et_meas/Et_true
  #Response depends on 'tower const' Ai
  #  - Constant:      R(Et_true) = 1/A0
  #  - L3:            R(Et_true) = A0 - A1/(log(Et)^A2 + A3) + A4/Et
  #  - SimpleInverse: R(Et_true) = 1 - A0/(Et + A1)
ToyMC response    = SimpleInverse
ToyMC tower const = 30 60 #0.99 7.24 3.50 6.77 2.64

  #Simulated resolution
ToyMC tower resolution stochastic = 1.3
ToyMC tower resolution noise      = 0.056

  #simulated out-of-cone correction factor 
  #R = 1/(1-exp(-0.5(A+bE))) = 1 + exp(-0.5(A+BE)) + exp(-(A+BE)) +...
ToyMC jet spread A      = 10.5966 #-2 * log(1-0.995);//99.5% in 0.5 cone
ToyMC jet spread B      = 0
ToyMC avoid out-of-cone = false

  #Smearing models:
  #settings for symmetric distributions: gauss 
  #setting for flat distribution (noise): flat
  #settings for asymmetric distributions (noise): exp, slope
ToyMC model = gauss

#ToyMC chunks = 

#mode 1:photon jet, 2: di-jet
ToyMC mode   = 1
ToyMC events = 100000

ToyMC output file = input/toy_photonjet_L2L3_pi00_emf0.root
